body {
  font-family: Helvetica, sans-serif;
}

body div {
  font-size: 12px;
  width: 200px;
  float: left;
}

#original-list {

}

#final-list {
  display: none;
}

#working-1 {

}

#working-2 {
  
}

#split {

}

#sort {

}

#merge {

}