body {
  font-family: Helvetica, sans-serif;
}

body div {
  font-size: 12px;
  width: 160px;
  float: left;
}

body div div {
  background-color: lightgray;
  border-radius: 10px;
  padding: 2px;
  margin: 5px 10px 5px 10px;
  width: 140px;
  text-align: center;
}

#original-list {

}

#final-list {
  display: none;
}

#working-1 {

}

#working-2 {

}

#split {

}

#sort {

}

#merge {

}